html{
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16 px **/
}


header{
    
    border-radius: 1rem;
    max-width: 150rem;
    margin: 0 0 2rem 0rem;
}

body{

    font-family: 'Courgette', cursive;
    background-color: white;
    padding: 1.4%;
    max-width: 150rem;
}

p{
    font-size: 2.1rem;
    color: white;
}

h1{
    font-size: 4rem;
}

.site-footer{
    background-color: #188ee5;
    margin: 0;
}

.contenedor-footer{
    padding: 2.2rem 0;
    display: flex;
    justify-content: space-between;
    padding-left: 1.4%;
    padding-right: 3.15%;
}

.copyright{
    margin: 0;
    color: #ffffff;
    font-size: 1.9rem;
}

/**Navegacion**/

.logoZW{

    padding-top: .1rem;
    padding-left: .1rem;
}

.partelogo{

    background-image: url(../Imagenes/FondoAgua.jpg);
    margin-top: .1%;
    background-repeat: no-repeat;
    background-size: 1500px 1500px;
}

.partepaginas{
    padding-left: 67%;
    background-color: #188ee5;
}

p.slogan{
    color: #3390ff;
    font-size: 3rem;
    padding-left: 114rem; /**1.4**/
    padding-bottom: 1.2rem;   
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
}

.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 2rem; 
    margin-right: 1.2rem;

}

.navegacion a:hover{
    color: #f57912;
}

.navegacion a:last-of-type{
    margin: 0;
}

/**Contenido Inicio**/

.inicio{
    font-size: 2.8rem;
    padding-left: 16rem;
    padding-bottom: 4rem;
}

.mensajeinicio{
    width: 50%;
    padding-left: 4rem;
}

.contenidomitad{

    display: flex;
    justify-content: space-between;
}

.aplicacioninicio{
    width: 40%;
    height: 40%;
    padding-top: 16rem;
    padding-right: 20rem;
    padding-bottom: 4rem;
}

h2.proximamente{
    height: 50%;
    position: relative;
    right: 8rem;
    top: 22rem;
    font-size: 3rem;
}

.google{
    width: 40%;
    height: 55%;
    position: relative;
    top: 34rem;
    left: -22.5rem;
}

.apple{
    width: 45%;
    height: 60%;
    position: relative;
    top: 44rem;
    left: -48rem;
}

/**Quienes Somos**/

.mensajequien{
    width: 50%;
    padding-left: 4rem;
}

.informacion{
    padding-left: 10rem;
    font-size: 2rem;
    padding-bottom: 6rem;
}

.titulo{
    font-size: 3rem;
}

ul.listaservicio{
    font-size: 1.8rem;
}
.lluvia{
    width: 26%;
    position: relative;
    left: 38rem;
}

.zw{
    width: 26%;
    position: relative;
    left: 40rem;
    top: -2rem;
}

.esquema{
    position: relative;
    left: 40rem;
    top: 0rem;
}

.otroesquema{
    position: relative;
    left: 30rem;
    top: 0rem;
    padding-bottom: 4rem;
}

/**Aplicacion**/

.laaplicacion{
    width: 50%;
    padding-left: 4rem;
}

.a1{
    width: 20%;
    height: 20%;
    position: relative;
    left: 62rem;
    padding-bottom: 4rem;
}

.a2{
    width: 20%;
    height: 20%;
    position: relative;
    left: 62rem;
    padding-bottom: 4rem;
}

.a3{
    width: 20%;
    height: 20%;
    position: relative;
    left: 62rem;
    padding-bottom: 4rem;
}

.a4{
    width: 20%;
    height: 20%;
    position: relative;
    left: 62rem;
    padding-bottom: 4rem;
}

.a5{
    width: 20%;
    height: 20%;
    position: relative;
    left: 62rem;
    padding-bottom: 4rem;
}

.a6{
    width: 20%;
    height: 20%;
    position: relative;
    left: 62rem;
    padding-bottom: 4rem;
}

.a7{
    width: 20%;
    height: 20%;
    position: relative;
    left: 62rem;
    padding-bottom: 4rem;
}

/**Cliente**/
.mensajecliente{
    width: 50%;
    padding-left: 4rem;
}

.cliente1{
    width: 25%;
    height: 25%;
    position: relative;
    top: -18rem;
    left: 40rem;
}

.cliente2{
    width: 25%;
    height: 25%;
    position: relative;
    top: -18rem;
    left: 44rem;
}

.cliente3{
    width: 25%;
    height: 25%;
    position: relative;
    left: 8rem;
    top: 24rem;
}

.cliente4{
    width: 25%;
    height: 25%;
    position: relative;
    left: 40rem;
    top: -14rem;
}

/**Contacto**/

.mensajecontacto{
    width: 50%;
    padding-left: 4rem;
}

.campo{
    width: 100%;
    padding-left: 42rem;
    padding-bottom: 4rem;
}

.nombre{
    font-size: 2rem;
    width: 100%;
}

.email{
    font-size: 2rem;
    width: 100%;
}

input[type=text], select {
    font-size: 2rem;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    font-size: 2rem;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    font-size: 2rem;
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }